:root {
    --cpu-placed: oklch(63.7% 0.237 25.331);
    --player-placed: oklch(62.7% 0.194 149.214);
}

.cpu-placed {
    background: white;
    animation: 0.5s ease-out cpuPlacedAnimation;
}

.player-placed {
    background: white;
    animation: 0.5s ease-out playerPlacedAnimation;
}

@keyframes cpuPlacedAnimation {
    from {
        background: var(--cpu-placed);
    }
    to {
        background: white;
    }
}

@keyframes playerPlacedAnimation {
    from {
        background: var(--player-placed);
    }
    to {
        background: white;
    }
}
