.animate-backdrop {
    backdrop-filter: blur(12px);
    animation: 1s ease-in-out animateBackdrop;
}

@keyframes animateBackdrop {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(12px);
    }
}
